.trainerFormContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}

#profilePic::before {
    content: "Upload profile picture";
    color: var(--light-text);
}