:root {
  --primary-color: rgba(31, 163, 216, 1);
  --white-text: rgba(255, 255, 255, 1);
  --mid-light-text: rgba(0, 0, 0, 0.7);
  --light-text: rgba(143, 139, 139, 1);

  --background-color: rgba(244, 244, 244, 1);
  --white-background: rgba(255, 255, 255, 1);

  --radius-size: 10px;
  --large-radius-size: 15px;

  --light-border-color: #cecece;

  --box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
  --dark-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

  --max-width: 1100px;
  --border-radius: 12px;

  --active-filter: invert(62%) sepia(85%) saturate(2396%) hue-rotate(163deg) brightness(89%) contrast(88%);

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 104%;
}

section {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  background-color: var(--white-background);
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--light-border-color);
  border-radius: var(--border-radius);
}

select {
  background-color: var(--white-background);
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--light-border-color);
  border-radius: var(--border-radius);
}

select:focus {
  outline: none;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
}

input[type=file] {
  color: transparent;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
}

input[type=submit] {
  background-color: var(--primary-color);
  color: var(--white-text);
  font-weight: 600;
  font-size: 1.02rem;
}

.topHading {
  font-size: 1.35rem;
  text-align: center;
  margin-top: 1rem;
}

.fullScreenContainer {
  height: 100vh;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

/* reused classes */
.btn {
  background-color: var(--primary-color);
  padding: 0.6rem 1rem;
  color: var(--white-text);
  border: none;
  font-weight: 700;
  border-radius: var(--radius-size);
  letter-spacing: 1.2px;
}

.twoBtnContainer {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.twoBtnContainer button {
  padding: 0 3rem;
  border-radius: var(--border-radius);
  border: 1px solid rgb(46, 46, 46);
  outline: none;
}

.twoBtnContainer input {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* model css */
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 98;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, auto);
  background-color: var(--background-color);
  z-index: 99;
  border-radius: var(--radius-size);
  padding-bottom: 2rem;
}


/* ------------------------------- */

/* slider css */
.swiper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: var(--white-background);
  border-radius: var(--radius-size);
  /* margin: 1.4rem; */
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
}

#saleService .swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.swiper .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}

/* bottom navbar design */
.bottomBarWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-background);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.8rem 0;
}

.bottomBar div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.bottomBarWrapper span {
  font-size: 14px;
}

.navIconActive {
  filter: var(--active-filter);
}


/* ------------------------------------------- */

@media only screen and (max-width: 768px) {
  html {
    font-size: 90%;
  }

  section {
    width: 95%;
  }

  .bottomBar {
    width: 95%;
    gap: 0.8rem;
    padding: 0.6rem 0;
  }

  .bottomBar div {
    flex-direction: column;
    gap: 0.2rem;
  }

  .bottomBarWrapper span {
    font-size: 12px;
  }

  .backdrop {
    align-items: flex-end;
  }

  .modal {
    width: 100%;
    height: 80vh;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .modal::before {
    content: "";
    border: 3px solid var(--light-text);
    border-radius: var(--radius-size);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0.5rem auto;
  }

  .swiper {
    margin: 1.4rem;
  }
}

/* @media only screen and (max-width: 920px) {

} */